# Compiled output
/dist
/build
/node_modules

# TypeScript incremental build
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests & coverage
/coverage
/.nyc_output
/jest-results
jest_*.xml

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store

# IDE
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Temp & runtime
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
